{% extends 'base.html' %}

{% block meta %}
<title>Tambah Task Todolist</title>
{% endblock meta %}

{% block content %}  

<div class = "login">
    
    <h1>Tambah Task</h1>  

        <form method="POST">  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <tr>
                        <td>Judul: </td>
                        <td><input type="text" name="judul" placeholder="Judul" class="form-control"></td>
                    </tr>
                            
                    <tr>
                        <td>Description: </td>
                        <td><textarea name="deskripsi" placeholder="Deskripsi" class="form-control" rows=4></textarea></td>
                    </tr>
        
                    <tr>
                        <td></td>
                        <td><input class="btn login_btn" type="submit" value="Buat"></td>
                    </tr>
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}